@font-face {
  font-family: 'Anglecia Pro Display';
  src: url('fonts/AngleciaProDisplay-Regular.woff2') format('woff2'),
       url('fonts/AngleciaProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
footer {
  background-color: #161616;
  position: relative;
  top: 50px;
  padding: 70px 50px;
  .footer-content {
    display: flex;
    border-bottom: 1px solid #3e3e3e;
    gap: 20px;
    img {
      width: 20%;
      height: 20%;
      margin-top: 100px;
      height: 50%;
    }
  }
  .footer-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px;
    width: 100%;
    p {
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 0;
    }
  }
  .contact-info {
    p {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 140%;
    }
    .info-text {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 140%;
      margin-top: -80px;
    }
    .contact-nav {
      ul {
        list-style: none;
      }
      a {
        text-decoration: none;
        color: #656565;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        line-height: 39px;
      }
      a:hover {
        color: #e4c066;
      }
    }
  }
  .subscribe {
    margin-top: -180px;
    label {
      color: white;
      font-family: Roboto, sans-serif;
      font-size: 21px;
      line-height: 140%;
      font-weight: bold;
    }

    .input-wrapper {
      display: flex;

margin-top: 15px;
      input {
        flex: 1;
        padding: 18px 37px;
        border: 1px solid #ccc;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        border: none;
      }

      .submit-btn {
        padding: 15px 30px;
        background: #111;
        color: #fff;
        border: 1px solid #ccc;
        cursor: pointer;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        margin-right: 2%;
      }
      .submit-btn:hover {
        color: #e4c066;
      }
    }
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 60px;
    .footer-social {
      display: flex;
      gap: 15px;
      img{
        opacity: .56;
      }
    }
    .call {
      position: relative;
      left: -20px;
      color: #e4c0668f;
      font-size: 20px;
       font-family: 'Anglecia Pro Display', sans-serif;
      text-decoration: none;
      opacity: .56;
    }
    p {
      color: #e4c0668f;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.footer-divider {
  width: 1px;
  background-color: #3e3e3e;
  margin-top: 30px;
}
